#section-hero {
    background-image: url('vendors/img/abstract.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 70vh;
}
#section-grow {
    background-image: url('vendors/img/abstract.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 30vh;
}
#section-grom {
    background-image: url('vendors/img/abstract.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 30vh;
}
#section-grod {
    background-image: url('vendors/img/abstract.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 30vh;
}
#section-about {
    background-image: url('vendors/img/diamond.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 30vh;
}
#section-footer {
    background-image: url('vendors/img/abstract.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 10vh;
}



